{% block label %}
	{% if field.label %}
		{% set hint = field.help ? 'data-hint="' ~ field.help|tu|raw ~ '"': '' %}
		<div class="form-label form-field hint--bottom" {{ hint }}>{{ field.label|tu|raw }}</div>
	{% endif %}
{% endblock %}
{% block field %}
	<div class="form-field {{ field.classes|default('') }}">
		<div class="form-data">
			<textarea
				class="tinymce"
				name="{{ (scope ~ field.name)|fieldName }}"
				{% if field.disabled or isDisabledToggleable %}disabled="disabled"{% endif %}
				{% if field.placeholder %}placeholder="{{ field.placeholder|tu }}"{% endif %}
				{% if field.autofocus in ['on', 'true', 1] %}autofocus="autofocus"{% endif %}
				{% if field.novalidate in ['on', 'true', 1] %}novalidate="novalidate"{% endif %}
				{% if field.readonly in ['on', 'true', 1] %}readonly="readonly"{% endif %}
				{% if field.validate.required in ['on', 'true', 1] %}required="required"{% endif %}
			>{{ value|join("\n")|e("html") }}</textarea>
		</div>
	</div>
	<script>(function(){function run(){tinymce.init({selector:"textarea.tinymce",document_base_url:$("[id=grav-dropzone]").attr("data-media-local")+"/../"+(0{% if context.modular %}1{% endif %}?"../":""),language_url:langs+lang+js,plugins:"{{ config.plugins["tinymce-editor"].plugins|join(" ")|e("js") }}",{% for key in config.plugins["tinymce-editor"].parameters|keys %}"{{ config.plugins["tinymce-editor"].parameters[key].name|e("js") }}":{% if config.plugins["tinymce-editor"].parameters[key].value == "0" %}0{% elseif config.plugins["tinymce-editor"].parameters[key].value == "false" %}false{% else %}"{{ config.plugins["tinymce-editor"].parameters[key].value|e("js") }}"{% endif %},{% endfor %}menubar:{% if config.plugins["tinymce-editor"].menubar %}true{% else %}false{% endif %},menu:{ {% for key in config.plugins["tinymce-editor"].menu|keys %}{{ key }}:{title:"{{ config.plugins["tinymce-editor"].menu[key].title|e("js") }}",items:"{{ config.plugins["tinymce-editor"].menu[key].items|e("js") }}"},{% endfor %}},toolbar:[{% for fields in config.plugins["tinymce-editor"].toolbar %}{% for row in fields %}'{{ row|e("js") }}',{% endfor %}{% endfor %}],branding:{% if config.plugins["tinymce-editor"].branding %}true{% else %}false{% endif %},statusbar:{% if config.plugins["tinymce-editor"].statusbar %}true{% else %}false{% endif %}})};var langs="{{ url("plugin://tinymce-editor/js/tinymce/langs") }}/";var lang=GravAdmin.config.language;var js=".js";$.get(langs+lang+js).done(function(){run()}).fail(function(){lang=lang+"_"+lang.toUpperCase();$.get(langs+lang+js).done(function(){run()}).fail(function(){langs="";lang="";js="";run()})});function insert(a,b,c){if(a===0){$("[aria-label='Insert/edit image'] button").click()}else if(a===1){tinyMCE.activeEditor.plugins.media.showDialog()}else{$("[aria-label='Insert/edit link'] button").click();$("div.mce-window input.mce-textbox:eq(1)").val(c)};$("div.mce-window input.mce-textbox:first").val(b+c)};$(window).on("load",function(){$("div.dropzone").on("click","a.dz-insert",function(){var dir=$("[id=grav-dropzone]").attr("data-media-path")+"/";var pre=GravAdmin.config.route.split("/").slice(0{% if context.modular %}1{% endif %}?-2:-1).join("/")+"/";var src=$(this).parent().find("[data-dz-name]").text();var file=new Image();file.onload=function(){insert(0,pre,src)};file.onerror=function(){file=new Audio();file.onload=function(){insert(1,pre,src)};file.onerror=function(){insert(2,pre,src)};file.src=dir+src};file.src=dir+src})})}())</script>
{% endblock %}
